{% extends 'shared/_layout.html' %}
{% load static %} 
{% block content %}
<section class="about_section layout_padding2-top layout_padding-bottom ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 px-0">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="detail-box">
            <h2>
              {{ab.title}}
            </h2>
            <p>
             {{ab.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}